
# Binaries
bin/
/raftra-server
/raftra-cli
/raftra-loadgen
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test artifacts & data
*.test
*.out
*.log
/data/
/data[0-9]*/
*.db
# OS / IDE files
.DS_Store
.vscode/
.idea/
